/* ------ App ------ */

.l-app {
  display: block;
  width: 100%;
  @include clearfix();

  &__sidepanel {
    display: block;
    float: left;
    width: 30%;
    height: 100vh;
    background-color: $color-white;
  }

  &__mainpanel {
    display: block;
    float: left;
    width: 70%;
  }
}