/* ------ Variables ------ */
$color-first: #8642f4;
$color-second: #7227eb;

$color-white: #ffffff;
$color-darkWhite: #f7f7f7;
$color-black: #292929;
$color-grey: #e8e8e8;

$font-primary: 'Open Sans', sans-serif;

$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;